<!DOCTYPE html>
<html>
<head>
<title>Video Saver</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
body{
  font-family:Arial;
  background:#0f172a;
  color:white;
  text-align:center;
  padding:20px;
}
input{
  width:90%;
  padding:10px;
  border-radius:10px;
  border:none;
}
button{
  margin-top:10px;
  padding:10px;
  width:90%;
  background:green;
  color:white;
  border:none;
  border-radius:10px;
}
#msg{
  margin-top:20px;
}
.bar{
  width:90%;
  background:#333;
  margin:20px auto;
  border-radius:10px;
}
.fill{
  height:10px;
  width:0%;
  background:lime;
}
</style>
</head>

<body>

<h2>📥 YouTube Video Saver</h2>

<input id="url" placeholder="Paste YouTube link">
<br>

<button onclick="startDownload()">Download</button>

<div class="bar">
  <div class="fill" id="fill"></div>
</div>

<div id="msg">Waiting...</div>

<script>
function startDownload(){

let fill=document.getElementById("fill");
let msg=document.getElementById("msg");

fetch("/download",{
  method:"POST",
  headers:{"Content-Type":"application/json"},
  body:JSON.stringify({url:document.getElementById("url").value})
});

let p=0;

let t=setInterval(async()=>{
  let res=await fetch("/progress");
  let data=await res.json();

  p=data.value;
  fill.style.width=p+"%";
  msg.innerHTML="Downloading... "+p+"%";

  if(p>=100){
    clearInterval(t);
    msg.innerHTML="✅ Download Completed! Check Downloads Folder / Server Storage";
  }
},500);
}
</script>

</body>
</html>
